wjcat/DS_Store
wjcat/node_modules/
wjcat/dist/
wjcat/npm-debug.log*
wjcat/yarn-debug.log*
wjcat/yarn-error.log*

# Editor directories and files
wjcat/.idea
wjcat/.vscode
wjcat/*.suo
wjcat/*.ntvs*
wjcat/*.njsproj
wjcat/*.sln

wjcatAdmin/.idea

.idea

wjcatAdmin/wjcatAdmin/settings.py
wjcatAdmin/wjcatAdmin/dist